<style>
    section{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
</style>

<h3>Found {{resultNumber}} results for: {{searchingBy}}</h3>
<a href="/export?word={{searchingBy}}">Export to CSV</a>
<section>
    <h4>Title</h4>
    <h4>Company</h4>
    <h4>Date</h4>
    <h4>Link</h4>
    {% for result_news in news%}
      <span>{{result_news.title}}</span>
      <span>{{result_news.company}}</span>
      <span>{{result_news.date}}</span>
      <a href="{{result_news.link}}" target="_blank">Go to page</a>
    {% endfor %}
</section>