<style>
    section{
        clear: both;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(14, 1fr);
    }
    .item1{
      grid-column: 1 / 8;
    }
    .item2{
      grid-column: 8 / 11;
    }
     .item3{
      grid-column: 11 / 13;
    }
    .item4{
      grid-column: 13 / 15;
    } 
    b{
      margin: auto;
    }
    input, button{
      background-color: rgba(0,0,0,0);
      border: none;
    }
</style>

<h3 style="display: inline-block; margin-top: 0;">Found {{resultNumber}} results for: {{searchingBy}}</h3>
<a href="/export?word={{searchingBy}}" style="background-color: #0F33FF; border: none; float: right; padding: 5px 10px;">Export to CSV</a>
<section>
    <h4 class="item1">Title</h4>
    <h4 class="item2">Company</h4>
    <h4 class="item3">Date</h4>
    <h4 class="item4">Link</h4>
    {% for result_news in datas %}
      <span class="item1">{{result_news.title}}</span>
      <span class="item2">{{result_news.company}}</span>
      <span class="item3">{{result_news.date}}</span>
      <a class="item4" href="{{result_news.link}}" target="_blank">Go to page</a>
    {% endfor %}

  <!-- 페이지네이션을 위한 코드 시작 -->
  {% if block_start - 1 > 0 %}
    <input type="hidden" name="word" value="{{ searchingBy }}">
    <input type="hidden" name="prev" value="{{ block_start }}" >
    <button class="prev">prev</button>
  {% endif %}

  {% for i in range(block_start, block_end + 1)%}
      <!-- 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
      {% if i > last_page_num %}

      {% else %}
          {% if i == page %}
            <b>{{ i }}</b>
          {% else %}
            <input type="hidden" name="word" value="{{ searchingBy }}">
            <input type="button" class="num" value="{{ i }}" >
          {% endif %}
      {% endif %}
  {% endfor %}

  {% if block_end < last_page_num %}
  <input type="hidden" name="word" value="{{ searchingBy }}">
  <input type="hidden" name="next" value="{{ block_end }}" >
  <button class="next">next</button>
  {% endif %}
  <!-- 페이지네이션을 위한 코드 끝 -->
</section>

<script>
  $(".num").on("click", function(){
    $(".about--banner").empty();
    let word = $("[name=word]").val()+"num_page"+$(this).val();

    $.ajax({
      type : 'POST',                                  
      url : 'http://127.0.0.1:5000/report',
      data : JSON.stringify(word),
      dataType : 'JSON',
      success : function(result){
        $(".about--banner").append(result)
      },
      error : function(xtr,status,error){
        $(".about--banner").append("<h3>데이터가 존재하지 않습니다.</h3>")
      }
    });
  });

  $(".prev").on("click", function(){
    $(".about--banner").empty();
    let num = parseInt($(this).prev().val())-1;
    let word = $("[name=word]").val()+"num_page"+num;

    $.ajax({
      type : 'POST',                                  
      url : 'http://127.0.0.1:5000/report',
      data : JSON.stringify(word),
      dataType : 'JSON',
      success : function(result){
        $(".about--banner").append(result)
      },
      error : function(xtr,status,error){
        $(".about--banner").append("<h3>데이터가 존재하지 않습니다.</h3>")
      }
    });
  });

  $(".next").on("click", function(){
    $(".about--banner").empty();
    let num = parseInt($(this).prev().val())+1;
    let word = $("[name=word]").val()+"num_page"+num;

    $.ajax({
      type : 'POST',                                  
      url : 'http://127.0.0.1:5000/report',
      data : JSON.stringify(word),
      dataType : 'JSON',
      success : function(result){
        $(".about--banner").append(result)
      },
      error : function(xtr,status,error){
        $(".about--banner").append("<h3>데이터가 존재하지 않습니다.</h3>")
      }
    });
  });

</script>